@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

body {
    font-family: "Noto Sans", sans-serif;
    color: #222;
    width: 100%;
}

.nav-tabs {
    border-bottom: 0 !important;
}

#fretboard {
    overflow: auto;
    width: 100%;
    position: relative;
    border: 3px solid #555;
    height: 320px;
    background: #cc9e56;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #edbc6f, #cc9e56);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #edbc6f, #cc9e56); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#fretboard .fret {
    position: relative;
    height: 100%;
    width: 100%;
}

#fretboard .strings {
    width: 100%;
    position: absolute;
    opacity: 0.6;
    color: #000;
    height: 3px;
}

#fretboard .fret:not(:last-child) {
    border-right: 6px solid #666;
}

#fretboard .fret.first-fret {
    border-right: 12px solid #666;
}

#fretboard .strings.string-6 {
    top: 20px;
}
#fretboard .strings.string-5 {
    top: 70px;
}
#fretboard .strings.string-4 {
    top: 115px;
}
#fretboard .strings.string-3 {
    top: 165px;
}
#fretboard .strings.string-2 {
    top: 210px;
}
#fretboard .strings.string-1 {
    top: 260px;
}
#fretboard .fret .note:hover {
    opacity: 1;
}
#fretboard .fret .note {
    border: 1px solid #222;
    border-radius: 12px;
    margin: 5px;
    background-color: #fff;
    z-index: 999;
    opacity: 0.8;
}
#fretboard .fret .note.active {
    background-color: green;
    color: #fff;
    font-weight: 700;
    opacity: 1;
}
#fretboard .fret .note.inactive {
    background-color: red;
    color: #fff;
    font-weight: 700;
    opacity: 1;
}
#fretboard .fret .marker {
    position: absolute;
    z-index: 0;
}
#fretboard .fret .marker .circle {
    height: 40px;
    width: 40px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 40px;
}

#bpm {
    max-width: 100px;
}

#fret-count {
    max-width: 50px;
}

#test-note {
    font-size: 7rem;
}

#scale-select {
    max-width: 300px;
}
